@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #FFFFFF;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 45px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: 0 60px;
    }
}

/*RECOLOR THE MENU HOVER COLORS*/
.p-menuitem-link:hover {
    background-color: rgba(0, 172, 238, 1);
    color: #FFFFFF;
}

.p-menuitem-link:hover .p-menuitem-text {
    color: #FFFFFF;
}

.p-menuitem-link:hover .p-submenu-icon {
    color: #FFFFFF;
}




.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover{
    background-color: rgba(0, 172, 238, 1);
    color: #FFFFFF;
}
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #ffffff;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon{
    color: #ffffff;
}


.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link{
    background-color: rgba(0, 172, 238, 1);
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text{
    color: #FFFFFF;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon{
    color: #ffffff;
}